<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
</head>
<body>
    <div id="app">
       
        <div>
            <label for="goal">Goal</label>
            <input type="text" id="goal" v-model="Value"/>
          <button v-on:click="addGoal">Add Goal</button>
    
          </div>
          <p v-if="goals.lenght === 0">no goals </p>
             <ul v-else>
                 <li v-for=" goal in goals ">{{ goal }}</li>
             </ul>
        </div>


        <script>
            let variable = new Vue({
            el: "#app",
            data: {
               goals :[],
               Value:""   
        },
        methods: {
    
            addGoal: function () {
                    console.log(" He añadido "+ this.Value);
                    this.goals.push(this.Value);
                    this.Value="";
            }
        }
        });
        </script> 
</body>
</html>