* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: mintcream;
   
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: white;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: crimson;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin:auto;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.iconos {
    color: white;
    justify-content: flex-end;
    display: flex;
}
.texto-principal {
    background: #f07b3f;
}

h1 {
    background: #ffd460;
}

.section {
    background: yellow;
    display: flex;


}

.articulos {
    background: #4e4e6a;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;

}

.articulo {
    background: #1f6cb0;
    flex: 1 1 auto;
    height: 30%;
}

.navegacion {
    background: #1f6cb0;
    flex: 1 1 100%;
}

.footer {
    background: #ea5455;
    flex: 1 1 auto;


}

.publicidad {
    background: #ffd460;

}

.aside {
    background: #000;
    display: flex;
    justify-content: center;
}

.pie {
    background: #ffd460;
    width: 300px;

}

@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
        height: auto;
    }

    .menu {
        flex-direction: column;
      
        
    }

    .footer {
        flex-direction: column;
        justify-content: center;
    }

    @media all and (max-width:600px) {
        .articulos {
            flex-direction: column;
        }
    }

    @media all and (max-width: 400px) {
        .footer {
            flex-direction: column;
        }
    }